<!DOCTYPE html>
<!-- <html xmlns : th="http://www.thymeleaf.org"> -->


<head>
<meta charset="utf-8" />


<title>Insert title here</title>
</head>
<body>


	<table>
		<thead>

			<tr>
				<th>Id</th>
				<th>libelle</th>
				<th>dateCreation</th>

			</tr>

		</thead>
<!-- 		<tbody> -->


<!-- 			<tr th:each="p :${listcompte}"> -->
<!-- 				<td th:text="{p.id}"></td> -->
<!-- 				<td th:text="{p.libelle}"></td> -->
<!-- 				<td th:text="{p.dateCreation}"></td> -->



<!-- 			</tr> -->



<!-- 		</tbody> -->

	</table>



</body>
</html>